/* Add CSS Styling */

.clickButton,
.dontClickButton {
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}

.clickButton {
 background-color: black;
    color: white;
}

.dontClickButton {
    background-color: yellow;
}