body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  border: 10px solid white;
  margin: 30px 0px 0px 0px;

}

.content {
  background: #e3f4ff;
  padding:10px;
  border:10px solid white;
  border-top: 0px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 20px;
  border:10px solid white;
  border-top: 0px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin: 0 auto;
  
}